.wrapper{
    max-height: 500px;
}
.wrapper, .items{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;
}
.genre{
    display: flex;
    align-content: flex-end;
    /*gap: 3rem;*/
}
.genre > span{
    width: 20px;
    margin-right: 3rem;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-primary);
}
.items{
    margin-top: 0.25rem;
    gap: 2rem;
}
.items > a{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-secondary);
    transition: var(--transition);
}
.items > a:hover{
    color: var(--text-primary);
}