.wrapper{
    position: relative;
}
.wrapper > .img{
    width: calc(100% + 4rem);
    height: 400px;
    position: absolute;
    z-index: 0;
    top: -2rem;
    opacity: 0.15;
    background-repeat: no-repeat;
    background-size: cover;
    left: -2rem;
}

.content{
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: 1.25fr 2fr 0.5fr;
    gap: 2rem;
}