.wrapper{
    position: relative;
    min-height: calc(100vh - 4rem);
}
.wrapper > .img{
    width: calc(100% + 4rem);
    height: 400px;
    position: absolute;
    z-index: 0;
    top: -2rem;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    left: -2rem;
}

.content{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    gap: 2rem;
}