.wrapper{
    gap: 2rem;
}

/*header*/
.header{
    margin-bottom: 1rem;
}
.header, .feature{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.header > h1{
    font-size: 32px;
    font-weight: 500;
}
.header > p{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-secondary);
}

/*actions*/
.actions{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

/*feature*/
.featureContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.featureContainer > h3{
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.feature{
    list-style-type: none;
    gap: 1rem;
}
.feature > li{
    display: flex;
    align-items: flex-start;
}
.feature > li > h4{
    width: 348px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-secondary);
}
.feature > li span{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-primary);
}
.feature > li > div{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}